
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <!-- <meta name="viewport" content="width=device-width"> -->
    <title>Standard Page</title> 
    <link rel="stylesheet" type="text/css" href="styleVideo.css" />
      <div id="top_Bar">
      TOP BAR
    </div>
    <div id="g_video">
      <video loop class="gFull" autoplay>
        <source src="video/sloRef.mp4" type="video/mp4">
      </video>
    </div>
  
    <div id="text">
      <h1> LOREM IPSUM </h1>
      <p class="loremIpsum">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et porta velit, non euismod nunc. Donec non bibendum tortor, id accumsan tellus. Vivamus faucibus justo quis justo cursus venenatis. Aliquam erat volutpat. Cras vestibulum justo eu vehicula blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras congue leo in risus dictum convallis. Proin non elit vel ante luctus condimentum id id odio. Nullam cursus, massa ut tristique laoreet, augue quam rutrum neque, vehicula auctor purus nisl at turpis.
      </p>

      <p class="loremIpsum"> 
        In auctor erat arcu, vel dapibus lectus porta vel. Proin ut dui sit amet neque finibus aliquam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vehicula justo ac mauris tincidunt lobortis. Aenean efficitur hendrerit luctus. In aliquet egestas risus. Proin efficitur dui orci, eget finibus leo sodales quis. Vivamus vitae suscipit magna, sed pharetra nisl.
      </p>

      <p class="loremIpsum">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et porta velit, non euismod nunc. Donec non bibendum tortor, id accumsan tellus. Vivamus faucibus justo quis justo cursus venenatis. Aliquam erat volutpat. Cras vestibulum justo eu vehicula blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras congue leo in risus dictum convallis. Proin non elit vel ante luctus condimentum id id odio. Nullam cursus, massa ut tristique laoreet, augue quam rutrum neque, vehicula auctor purus nisl at turpis.
      </p>

      <p class="loremIpsum"> 
        In auctor erat arcu, vel dapibus lectus porta vel. Proin ut dui sit amet neque finibus aliquam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vehicula justo ac mauris tincidunt lobortis. Aenean efficitur hendrerit luctus. In aliquet egestas risus. Proin efficitur dui orci, eget finibus leo sodales quis. Vivamus vitae suscipit magna, sed pharetra nisl.
      </p>
      
    </div>
  </head>
  <body>
    <!-- CONTENT GOES HERE -->
		
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<script src="scripts.js"></script>-->
  </body>
</html>