<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<title>Thumbnail Gallery - Start Bootstrap Template</title>-->

    <!-- Bootstrap Core CSS -->
    
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12 title">
                <h1>ONE MONTH IN SLOVENIA</h1>
            </div>

            <a id="backPage" href="index">BACK</a>
            <div class="col-md-4">
                <a href="#">
                    <img id="rasize" src="http://img.rtvslo.si/_up/upload/2015/10/28/65257054_photo_455660_20150918.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-md-6">
                <a href="#">
                    <img id="rasize" src="http://img.rtvslo.si/_up/upload/2015/11/28/65266311_photo_455788_20150919.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-md-6">
                <a href="#">
                    <img id="rasize" src="http://img.rtvslo.si/_up/upload/2015/12/08/65269323_h_52448572.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-md-6">
                <a href="#">
                    <img id="rasize" src="http://img.rtvslo.si/_up/upload/2015/10/28/65257144_2015-10-28t131511z_530267414_lr1ebas10t0xg_rtrmadp_3_europe-migrants-slovenia.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 mihano col-md-6">
                    <img id="rasize" src="http://img.rtvslo.si/_up/upload/2015/10/26/65256721_photo_460336_20151026-1.jpg" alt="">
            </div>
            <div class="col-md-4 mihano col-md-6">
                    <img id="rasize" src="http://img.rtvslo.si/_up/upload/2015/12/13/65270539_dobova.jpg" alt="">
            </div>
            <div class="col-md-4 mihano col-md-6">
                    <img id="rasize" src="http://img.rtvslo.si/_up/upload/2015/11/21/65264116_dobova.jpg" alt="">
            </div>
             <div class="col-md-4 mihano col-md-6">
                    <img id="rasize" src="http://img.rtvslo.si/_up/upload/2015/11/16/65262646_b1.jpg" alt="">
            </div>
            <!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>-->
        </div>

        <hr>

        <div id="myFooter">
            <p id="sharingParaf">Sharing ability coming soon<p>
        </div>
        <!-- Footer
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>-->

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
