<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width">
    <title>Standard Page</title> 
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400, 700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <section class="title">
      <h1>THREE MONTHS IN SLOVENIA*</h1>
    </section>
    <!--<div id="tooltip" class="hidden">
        <p><strong>Important Label Heading</strong></p>:
    </div>-->
    <!-- MY SVG CONTAINER -->
    <div id="container"></div>

    <div id="description">

      <p>Many migrants and refugees that started flowing into Europe in 2015 took to the so-called Western Balkan route, which spanned Greece, Macedonia, Serbia, and Croatia. Refugees would then continue their journey northward through Hungary, yet after Hungary erected a barbed-wire fence at their borders in October 2015, the movement turned towards Slovenia. In the months that followed more than 400 000 migrants and refugees have passed through Slovenian borders. 3 months in Slovenia is visualization of their movement through the country.
      </p>
    <!--<a id="callToAction" href="buttonPress">SUBMIT PHOTOS HERE</a>-->
    </div>

    <section class = "allInfo">
      <section class="auxGraphs">
        <div class="infoBox" id="dateDisplay"></div>
      </section>
      <section class="autoplay">
        <a id="autoPlayButton">AUTOPLAY</a>
      </section>
    </section>

    <!--<section class="infoBox">
      <p id="slovenia">SLOVENIA</p>
      <div id="dateDisplay"></div>
    </section>-->

    <!--<div id="croatia">
      <p>CROATIA</p>
    </div>-->


    <div id="tooltip" class="hidden"></div>

    <section class="main-navigation hide">
      <a href="aboutPress">i</a>
    </section>
    <div class="mobile-warning hide">Unfortunately, the page is not available for mobile screens just yet, please bear with me. In the meantime, checkout the project on your laptop</div>
    <div class="under-development">*UNDER DEVELOPMENT</div>
    <!--<button id="transition">TRANSITION</button>-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="d3Source/d3.min.js"></script>
    <script src="init.js"></script>
    <script src="scripts1.js"></script>
    <script src="slider.js"></script>
    
  </body>
</html>