<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width">
    <title>Standard Page</title> 
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400, 700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <section class="title">
      <h1>ONE MONTH IN SLOVENIA</h1>
    </section>
    <!--<div id="tooltip" class="hidden">
        <p><strong>Important Label Heading</strong></p>:
    </div>-->
    <!-- MY SVG CONTAINER -->
    <div id="container"></div>

    <!--<div id="description">

      <p>In search for a livable life the majority of migrants and refugees flowing into Europe take the Western Balkan route. The route stretches out through Greece, Macedonia, Serbia, and Croatia. Refugees would then continue their journey northward through Hungary, but after Hungary erected a barbed-wire fence at the border with Serbia and Croatia in October the movement turned towards Slovenia. Since the end of October more than <b>250 000</b> migrants and refugees have passed through Slovenian borders. Here is a visualization of their movement through the country. <b>Click below</b> to share photos relating to your experience of the refugee crisis in Slovenia.
      </p>
    <a id="callToAction" href="buttonPress">SUBMIT PHOTOS HERE</a>
    </div>-->

    <section class = "allInfo">
      <section class="auxGraphs">
        <div class="infoBox" id="dateDisplay"></div>
      </section>
      <section class="autoplay">
        <a id="autoPlayButton">AUTOPLAY</a>
      </section>
    </section>

    <!--<section class="infoBox">
      <p id="slovenia">SLOVENIA</p>
      <div id="dateDisplay"></div>
    </section>-->

    <!--<div id="croatia">
      <p>CROATIA</p>
    </div>-->


    <div id="tooltip" class="hidden"></div>

    <section class="main-navigation hide">
      <a href="aboutPress">i</a>
    </section>
    <!--<button id="transition">TRANSITION</button>-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="d3Source/d3.min.js"></script>
    <script src="init.js"></script>
    <script src="scripts1.js"></script>
    <script src="slider.js"></script>
    
  </body>
</html>