body{
	position: fixed;
	font-family: Helvetica, Arial;
	background-color: black;
	height:100vh;
	width:100vw;
	margin: 0;
}

h1,p,.infoBox,#sliderText,#dateDisplay,#textbox,#slider,#slider-value,#timeline{
	z-index: 20;
}

#callToAction{
	font-size: 17px;
	border:solid;
	border-color: white;
}

.hide{
	visibility:hidden;
}

.allInfo {
    position: absolute;
    bottom: 10vh;
    left: 75vw;
    background:black;
    padding: 0 10px 10px 10px;
}

.mobile-warning{
	width: 100vw;
	height: 100vh;
	background-color: white;
	color:black;
	position: fixed;
	z-index: 1001;
	top:0;
	padding:3px;
}

#description{
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 0.8em;
	padding-right:10px;
	line-height: 28px;
	width:25vw;
	max-height:70vh;
	top: 15vh;
	left:3vw;
	z-index: 20;
	background: rgba(0,0,0,0.9);
}

#slider{
	text-align: center;
	width:19vw;
	position:absolute;
	bottom:18vh;
	right:2vw;
}

#slovenia{
	font-weight: 700;
}

#dateDisplay,#slovenia{
	margin: 2px;
}
#textbox{
	width:25vw;
	height:50px;
	position:absolute;
	top:10vh;
	left:2vw;
	border-style: solid;
	border-color: white;
	color:white;
}

#container {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    margin: 5vh 0;
    overflow: hidden;
    /* padding: 20px; */
}

#tooltip {
		z-index: 20;
        position: absolute;
        width: 200px;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}

#tooltip.hidden {
        display: none;
}

#tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
}

svg{
	z-index: 8;
	margin: 0px auto;
	fill:white;
}

.pointerActive{
	cursor:pointer;
}

#aboutPage:hover, #autoplay:hover{
	cursor: pointer;
}

#transition{
	position: absolute;
	margin-top: 150px;
	z-index: 100;
}

#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Lato',sans-serif;
z-index: 20;
}

#callToAction{
	background-color: rgba(255,255,255, 0.1);
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	text-align: center;
	padding: 4px 4px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: white;
}

.custom-font{
	font-family: 'Montserrat', sans-serif;
}

#callToAction:hover{
	cursor: pointer;
};

#croatia{
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	right:10vw;
	top:10vh;
	color: white;
	z-index: 25;
}

#dateDisplay{
	color:white;
}

.under-development{
	position: absolute;
	bottom:0;
	width:100vw;
	z-index: 1000;
	background: white;
	color:black;
	text-align: center;
}